{% extends 'layout.html' %}
{% from 'macros.html' import render_field%}
{% block title %} Register {% endblock %}
{% block content %}
    <div class="new-entry">
        <h2>Create a new account</h2>
        <form method='POST' action=''>
            {{ form.hidden_tag() }}
            {% for field in form %}
                 {{render_field(field)}}
               {{ field(placeholder=field.label.text )}}
            {% endfor %}

            <input type="submit" value="Register" class="button">
            <a href="{{ url_for('register') }}" class="button button-secondary">Cancel</a>
        </form>
    </div>
{% endblock %}
         